/* === RESET CSS === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: var(--neutral-light);
  color: var(--neutral-dark);
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

input, textarea, select, button {
  font-family: inherit;
}
